@import 'variables';

@mixin buttonHover {
    color: $hover-color;
}

@mixin mobile-only {
    @media(max-width: 668px) {
        @content;
    }
}

@mixin tablet-only {
    @media(min-width: 669px) and (max-width: 780px) {
        @content;
    }
}

@mixin styleEmailFieldBody() {
    @extend %no-list-style-type;
    @extend %display-flex;

    li {
        flex-basis: 20%;

        &:nth-child(4) {
            flex-basis: 50%;
        }

        &:nth-child(5) {
            flex-basis: 10%;
        }
    }
}

@mixin setToEvenWidth() {
    li {
        flex-basis: 25% !important;

        &:nth-child(4) {
            flex-basis: 35% !important;;
        }

        &:nth-child(5) {
            flex-basis: 10% !important;
        }
    }
}

@mixin fromToAdjustment {
    padding-left: 20px;
}

@mixin desktopView {
    .email-header-fields {
        border: 1px solid $secondary-color;
        background: #eee;
        padding: 15px;

        @include styleEmailFieldBody();

        li {
            position: relative;

            img.icons.up-icon {
                position: absolute;
                right: 4 !important;
                top: 3 !important;
                display: none;
                cursor: pointer;
            }
        }
    }

    .email-container-list {
        ul {
            @include styleEmailFieldBody();
            padding: 24px 15px;
            border-bottom: 1px solid #d1d1e0;
            cursor: pointer;
            transition: background 0.3s ease;
            position: relative;

            &:hover {
                background: $primary-color !important;
                color: #003e80;
            }

            &:nth-child(even) {
                background: $tertiary-color;
            }

            img.icons.icon-sp {
                position: absolute;
                width: 12px;
                top: 30px;
                display: none;
            }

            li {
                position: relative;

                .attachment-icon {
                    position: absolute;
                    left: -30px;
                    top: 0;
                    display: none;
                }

                &:nth-child(4) {
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;

                    p {
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 80%;
                    }
                }
                
            }
        }
    }
}

@mixin mobileView {
    .email-header-fields {
        li {
            flex-basis: auto !important;
            border-right: 1px solid #999;
            padding: 0 10px;

            &:nth-child(2) {
                padding: 0 20px 0 0;
            }

            img.icons.up-icon {
                width: 12px;
                right: 3px !important;
                top: 4px !important;
            }
        }
    }

    .email-container-list {
        ul {
            flex-direction: column;

            li {
                font-size: 0.9em;
                padding: 4px 0;

                &:nth-child(1) {
                    font-weight: bold;
                }

                &:nth-child(2) {
                    font-weight: 300;
                    @include fromToAdjustment();
                }

                &:nth-child(3) {
                    font-size: 1em;
                    @include fromToAdjustment();
                }

                &:nth-child(4) {
                    font-size: 1em;
                }

                &:nth-child(5) {
                    position: absolute !important;
                    right: 12px !important;
                    top: 26px !important;
                }
            }
        }
    }
}