* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto';
    height: 100%;
}

.icons {
    width: 20px;
}

.icons-small {
    width: 12px;
}

//utility class -> important to override specificity for all elements
.visible {
    display: block !important;
}

.hide {
    display: none;
}

.show {
    display: block;
}



