@import '../scss/variables';
@import '../scss/mixins';

%no-list-style-type {
    list-style-type: none;
}

%display-flex {
    display: flex;
}

app-email-detail {
    position: relative;
    z-index: 3;
}

div.container {
    // @extend %display-flex;

    main {
        padding: 0 $gap;

        .action-bar {
            margin-bottom: calc(#{$gap * 0.5});
            h4 {
                margin-top: 20px !important;
                font-weight: 300;

                span {
                    font-weight: bold;
                }
            }
        }

        @include desktopView();
    }
}

@include mobile-only {
    @include mobileView();
}

@include tablet-only {
    .email-header-fields {
        @include setToEvenWidth();
    }

    .email-container-list {
        ul {
            @include setToEvenWidth();
        }
    }
}

